body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.boton {
    background-color: #6200ea; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Efectos de transición */
}

.boton:hover {
    background-color: #3700b3; /* Color de fondo al pasar el ratón */
    transform: translateY(-2px); /* Efecto de elevación */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más intensa */
}

.boton:active {
    background-color: #3700b3;
    transform: translateY(0); /* Restablecer efecto de elevación */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Restablecer sombra */
}